* {
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
}

.menu {
	width:100%;
	margin:0 auto;
	margin-top:10px;
	background:#777;
}
.menu ul {
	display:block;
	margin:0;
	text-align:center;
	padding:0;
}
.menu ul li {
	list-style:none;
	display:inline-block;
}
.menu ul li a {
	display:block;
	background:#777;
	color:#fff;
	font-size:12px;
	padding:20px 20px;
	text-decoration:none;
	font-family: Arial;
}
.menu ul li a:hover {
	background:#666;
}
.menu ul li ul {
	display:none;
	position:absolute;
	background:#666;
	width:200px;
}
.menu ul li ul li {
	display:block;
}
.menu ul li:hover > a {
	background:#666;
}
.menu ul li ul li a {
	background:#666;
	text-align:left;
}
.menu ul li ul li a:hover {
	background:#555;
}
.menu ul li:hover ul {
	display:block;
}