.menu{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none; /*liste stilini kaldırmak için*/
    font-family: sans-serif;
}

a{
    text-decoration: none;  /*alt çizgi kaldırmak için*/
}

ul.menu{
    background:#008B8B; /*menu arkaplan rengi*/
    height: 50px; 
}

ul.menu >li{
    float:left; /*menuyu yan yana getirmek için*/
    position: relative;
}

ul.menu >li >a{
    margin: auto;
    display: block;
    font-size: 15px;
    color: white;
    padding:0 15px;
    line-height: 50px;/*menu yazılarını 50px aşağı çekmek için*/
    border-right: 2px solid rgba(0,0,0,.1);
}

ul.menu ul{ /*açılır menuyu şekillendirme*/
    background:#20B2AA;
    width: 150px;
    list-style: none;
    position: absolute;
    top:40px;
    left:0;
    opacity: 0;
    transition: 200ms all;
    visibility: hidden;
}
ul.menu ul li{
    position: relative;
}

ul.menu ul li a{
    display: block;
    padding: 7px 12px;
    color:white;
    font-size: 15px;
}

ul.menu >li ul ul{
    top:0;
    left:130px;
}
ul.menu >li:hover >ul{
    opacity: 1;
    visibility: visible;
    top:50px;
}

ul.menu ul li:hover >ul{
    opacity: 1;
    visibility: visible;
    left:150px;
}